DEPLOYER_PRIVATE_KEY=

ARBITRUM_SEPOLIA_RPC_URL=
OPTIMISM_SEPOLIA_RPC_URL=
BASE_SEPOLIA_RPC_URL=

ETHERSCAN_API_KEY=
ARBISCAN_API_KEY=
OPTIMISM_API_KEY=
BASESCAN_API_KEY=

CHAINLINK_ETH_USD_FEED=
CHAINLINK_USDC_USD_FEED=
STALE_AFTER_SECONDS=86400
